<!DOCTYPE html>


<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>

    <body>
        <form action="." method="POST" enctype="multipart/form-data">
            <label for="file">File</label>
            <br>
            <input type="file" id="file" name="file" placeholder="file">
            <br>
            <input type="submit" value="Send">
        </form>

        <h1>Results:</h1>
        <h2>Mode: <mark>SSR</mark></h2>
        <h2>FileName: {{filename}}</h2>
        <h2>Total Lines: {{lines}}</h2>
        <h2>Total Words: {{words}}</h2>
        <h2>Total Bytes: {{bytes}}</h2>
        <h2>Total Chars: {{chars}}</h2>
    </body>

</html>